p {
    margin-top: 0;
    margin-bottom: 0;
}

.container-parent {

    width: 680px; 
    background-color: bisque;
    margin: 0 auto;
    border: solid 1px black;
}

.heading {
    text-align: center;
}

.container-child {
    display: flex;
    /* flex-grow: 1; */
    column-gap: 30px;
    margin: 40px 30px;
    flex-wrap: wrap;
    
}

.child-left,
.child-right {
    flex: 1;
    border: solid 1px rgb(55, 26, 26);
    border-radius: 5px;
    background-color: #fff;
    padding: 15px;
}



.heading-child {
    text-align: center;
    margin-top: 20px;
}

.heading-child-left {
    
}

.left-input,
.right-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
}

input {
    /* margin-top: 15px; */
   /* margin: 0 auto; */
   /* width: calc(100% - 40px); */
}

.container-gender {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.gender-paragraph p {
    margin-right: 8px;
}

.gender-paragraph,
.gender-input {
    flex: 1;
}

.gender-input {
    display: flex;
    column-gap: 10px;
    align-self: center;

}

.child-between {

    border: 1px solid #2b2424;
}

.child-right {
    /* flex: 1;
    border: solid 1px black;
    border-radius: 5px; */
}

.heading-child-right {

}

.right-input {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.container-button {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    /* margin: 0 auto; */
    /* width: calc(100% - 40px); */
}

.reset {
    font-weight: 500;
    font-size: 16px;
}

.submit {
    font-weight: 500;
    font-size: 16px;
}

.reset:hover,
.submit {
    cursor: pointer;
    opacity: 0.7;
}



