.greeting-heading {
  text-align: center;
  color: #333;
}

.demo-color,
.color-form {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.demo-color {
  height: 200px;
  background-color: aliceblue;
  border: solid 2px gray;
  border-radius: 5px;
}

.color-form {
  margin-top: 2rem;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.input-wrapper {
  flex: 1;
  position: relative;
  display: flex;
  border: none;
  padding: 0;
}

.input-wrapper label {
  position: absolute;
  top: 11px;
  left: 16px;
}

.input-wrapper:has(.hex-input) label {
  color: red;
}

.input-wrapper:has(.rgb-input) label {
  color: green;
}

.color-input {
  flex: 1;
  border: solid 1px transparent;
  outline: none;
  min-height: 68px;
  font-size: x-large;
  padding: 10px 16px 0 16px;
  border-radius: 5px;
  transition: border-color 200ms ease-in-out;
  box-shadow: 5px 5px 0.25rem rgba(0,0,0,0.3);
}

.color-input:hover {
  border-color: #333;
}

.hex-input {
  border-color: red;
  color: red;
}

.btn-actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.torgb-btn,
.tohex-btn {
  outline: none;
  min-width: 54px;
  min-height: 37px;
  border-radius: 4px;
  background-color: #fcfcfc;
  border: solid 1px transparent;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 200ms ease-in-out;
  box-shadow: 5px 5px 0.25rem rgba(0,0,0,0.3);
}

.torgb-btn:hover,
.tohex-btn:hover {
  cursor: pointer;
  border-color: #333;
}

.tohex-btn {
  color: red;
}

.torgb-btn {
  color: green;
}

.rgb-input {
  border-color: green;
  color: green;
}

@media (max-width: 576px) {
  .color-form {
    flex-direction: column;
  }
}

.App {
  text-align: center;
  margin: 20px;
}

.greeting-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 640px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="radio"] {
  margin-right: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
textarea {
  width: calc(100% - 100px); /* Tính toán chiều rộng để giảm padding từ cả hai bên */
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="reset"] {
  background-color: #f44336;
  margin-left: 10px;
}

.btn-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.demo-color {
  width: 100%;
  height: 50px;
  margin: 20px 0;
  border-radius: 4px;
}

.color-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* @media (max-width: 600px) {
  form {
    max-width: 100%;
  }
} */
