.container{
    margin: auto;
    display: flex;
    
    column-gap: 36px;
    padding: 30px ,25px;
}
.input{
    font-size: large;

}

.button{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.duongvan-btn{
    font-size: large;
}