

.all-container{
    
    border: solid 3px gray ;
   
    max-width: 1200px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    
}
.col-left{
    
}
.col-right{

}
.move-left{
    text-align: center;
}
.move-right{
    text-align: center;

}