/* PC */
@media (min-width: 1024px) {
    
}
 
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    
}

/* Mobile */
@media (max-width: 740px) {
    
    .container-parent {
        display: flex;
        flex-wrap: wrap;
    }

    .container-child {
        display: flex;
        flex-wrap: wrap;
    }
}